* {
    background-color: rgb(17, 2, 32);
    pad: 0;
}
/*NAVBAR*/
nav ul{
    list-style: none;
    text-align: right;
    
}
nav a{
    color: #ffffff;
    text-decoration: none;
    margin-right: 1rem;   
}
/*home*/h1 {
    color: #ffffff;
    font-size: 100px;
    margin-left: 10rem;
}
.p-1{
    color: #ffffff;
    margin-left: 10rem;
}
.p-2{
    margin-left: 10rem;

}
.p-3{
    color: #ffffff;
    margin-left: 10rem;
}
.container{
    display: flex;
    align-items: flex-start;
    justify-content:flex-end;
}

.rectangle-1{
    background-color: rgb(146, 123, 146);
    width: 600px;;
    height: 600px;;

    
}

.img-principal{
    display: flex;
    align-items: center;
    justify-content: flex-end;

}


/*helpers*/
.text-yellow{
    color: #f1a600;
}


