* {
    background-color: rgb(17, 2, 32);
    pad: 0;
}
/*NAVBAR*/
nav ul{
    list-style: none;
    text-align: right;
    
}
nav a{
    color: aliceblue;
    text-decoration: none;
    margin-right: 1rem;   
}
/*home*/h1 {
    color: aliceblue;
    font-size: 100px;
    margin-left: 10rem;
}
.p-1{
    color: aliceblue;
    margin-left: 10rem;
}
.p-2{
    margin-left: 10rem;

}
.p-3{
    color: aliceblue;
    margin-left: 10rem;
}
/*helpers*/
.text-yellow{
    color: rgba(207, 145, 9, 0.895)
}

